# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Distribution / packaging
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Pytest
.pytest_cache/

# Coverage
.coverage

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
